.apptitle{
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    min-width: 375px;
    max-width: 658px;
}

.appName{
    margin-top: 50px;
    margin-bottom: 50px;
}

.apptitle h1{
    font-size: 50px;
}

.imgs{
    margin: auto;
    width: 100%;

}

.shareOption{
    text-align: center;
}

.shareButtons{
    margin-top: 30px;
    
}

.btn{
    margin: 10px;
    width: 100px;
    font-size: 20px;
    border-radius: 15px;
}

